<div class="container">
    <div class = "row text-center">
      <h1>Casa</h1>
    </div>
    <div class ="row">
    <div class = "col-md-8 text-center">
      <div id = "room">
      <img class="background" width="500" src="./images/quadrato.png">
      <canvas id = "canvas"></canvas>
     </div>
    </div>
    <div class = "col-md-4">
    <table class="table">
        <thead>
            <tr>
                <th>Room</th>
                <th>Timestamp</th>
                <th>Command</th>
                <th>Position</th>
                <th>Record</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: commands">
            <tr class = "cmd-list" data-bind = "click: $parent.showRecord">
                <td data-bind="text: id_mic"></td>
                <td data-bind="text: ts"></td>
                <td data-bind="text: command"></td>
                <td data-bind="text: position"></td>
                <td><audio controls data-bind="attr: {src: audio_data}"></audio></td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
